<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Connection of Configuration -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url"> jdbc:postgresql://localhost:5432/helloword</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">postgres</property>

		<property name="current_session_context_class">thread</property>

		<!-- Impression of SQL -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<!-- Dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hbm2ddl.auto">update</property>

		<!-- Mapping Entities -->

		<mapping class="br.com.extratosfacil.entities.Empresa" />
		<mapping class="br.com.extratosfacil.entities.PlanilhaUpload" />
		<mapping class="br.com.extratosfacil.entities.PlanilhaDownload" />
		<mapping class="br.com.extratosfacil.entities.Plano" />
		<mapping class="br.com.extratosfacil.entities.Veiculo" />
		<mapping class="br.com.extratosfacil.entities.Usuario" />
		<mapping class="br.com.extratosfacil.entities.location.Cidade" />
		<mapping class="br.com.extratosfacil.entities.location.Estado" />
		<mapping class="br.com.extratosfacil.entities.location.Pais" />

	</session-factory>
</hibernate-configuration>
